@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.slider {
  height: 550px;
 
}
* {
  scroll-behavior: smooth;
}

.slider_container {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider_animation {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
}

.slider_img {
  width: 80%;
}

.slider_animation p {
  font-weight: 300;
  color: #747582;
  font-size: 14px;
  font-family: Ubuntu;
  display: flex;
  line-height: 31px;
  align-items: center;
  gap: 5px;
}

.slider_animation p span {
  color: #f17216;
  font-family: Ubuntu;
  font-size: 11px;
}
.slider_animation h1 {
  font-family: Ubuntu;
  font-weight: 700;
  color: #282c4b;
  font-size: 40px;
}

.slider_animation button {
  border: 1px solid white;
  padding: 10px;
  height: 50px;
  width: 158px;
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(45deg, #fdb700, #ffa000);
  color: rgb(240, 240, 240);
  box-shadow: 0px 6px 11px 0px #dad5c8;
  border-radius: 130px;
  font-family: Ubuntu;
}
button {
  cursor: pointer;
}
.slider_animation button span {
  transition: 0.3s;
}

.slider_animation button:hover span {
  color: #fdb700;
}

.slider_animation .vendor {
  position: absolute;
  top: 310px;
  left: 282px;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.slider_img {
  position: relative;
  z-index: 0;
  width: 450px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  left: -30px;
}
.slider_img img {
  transform: scale(1.2);
}

@keyframes opacityChange {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}

.section {
  height: auto;
}
.courses {
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.course {
  height: 80%;
  width: 20%;
  border-radius: 15px;
  box-shadow: 5px 5px 6px 0px #e4e2e2;
  border: none;
}


.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 5px;
}
.details h4 {
  color: #282c4b;
}
.details h5 {
  color: #282c4b;
}
.details .enroll {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details button {
  border: 1px solid white;
}

.section {
  height: auto;
}
.courses {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  align-items: center;
  gap: 5%;

}
.course {
  height: 260px;
  width: 250px;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0 0 15px gainsboro;
  border: none;
}
.duration {
  display: flex;
  align-items: center;
  height: 21px;
  gap: 12px;
}
.duration img {
  width: 18px;
  color: #fdb700;
}
.logos {
  width: 100%;
  background-color: #fea900;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos img {
  border-radius: 9px;
  height: 145px;
}
.star {
  font-size: 150%;
  color: #fdb700;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 5px;
}
.details .enroll {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details button {
  border: 1px solid white;
  padding: 5px;
  height: 30px;
  width: 108px;
  font-size: 12px;
  font-weight: 300;
  background: linear-gradient(45deg, #fdb700, #ffa000);
  color: rgb(240, 240, 240);

  box-shadow: 3px 3px 11px 0px #dad5c8;
  border-radius: 130px;
  font-family: Ubuntu;
}

.section h2 {
  text-align: center;
  font-family: Ubuntu;
  color: #282c4b;
  font-weight: bold;
  height: 120px;
}
.mobile {
  display: none;
}

@media screen and (max-width: 460px) {
  .slider {
    height: 440px;
  }
 
  .slider_container {
    background-image: url(../../Assets/bg5.svg);
    background-size: cover;
  }
  .courses {
    display: none;
  }
  .course {
    width: 70%;
  }
  .slider_animation {
    width: 100%;
    height: 460px;
    padding: 15px;
    gap: 0px;
    margin-top: -84px;
  }
  .slider_animation .vendor {
    display: none;
  }
  .slider_animation p {
    font-size: 14px;
  }
  .slider_animation .p {
    display: none;
  }
  .slider_animation h1 {
    font-size: 25px;
  }
  .slider_animation .p {
    font-size: 14px;
  }
  .slider_animation button {
    width: 125px;
    font-size: 13px;
    margin-top: 276px;
  }

  .slider_img {
    display: none;
  }

  .mobile {
    display: block;
  }
  .section h2 {
    font-size: 18px;
    color: #282c4b;
    height: 80px;
  }
  .c {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
  }
  .feedback .heading span {
    font-size: 14px;
  }
  .logos img {
    border-radius: 9px;
    height: 130px;
  }
}

@media (min-width: 459px) and (max-width: 768px) {
  .slider_img {
    display: block;
  }
  .slider_animation {
    width: 80%;
    padding: 15px;
  }
  .courses {
    display: none;
  }
  .mobile {
    display: block;
  }
  .c {
    display: flex;
    justify-content: center;
  }
  .course {
    width: 40%;
  }
}
